body, html{
    height: 100%;
    margin:0 auto;
}
.about-content {
    color: white;
    grid-area: content;
    margin-top: 0px;
}

.main-head {
    color: white;
    grid-area: header;
}
.welcome {
    margin-right: 200px;
}
.p-text {
    margin-right: 200px;
    margin-top: 15px;
}

.content {
    padding-left: 3em;
    grid-area: content;
}

}
img:hover {
    transform: scale(1.1) rotate(45deg) translateX(10px);
}
img {
    overflow: hidden;
    height: 300px;
    width: auto;
    border-radius: 50%;
    position: relative;
     left: -40px;
}
/* .picture {
    overflow: hidden;
    height: 300px;
    width: auto;
    border-radius: 50%;
    position: relative;
    left: -40px;
} */
.git-hub-logo {
    border-radius:50%;
    width:50px ;
    height:50px;
    box-shadow:10px 5px 5px red;
    overflow: hidden;
}
.git-hub-logo:hover{
    transform: scale(1.1) rotate(35deg) translateX(10px);
}
.turqouise:hover {
    transform: scale(1.1) rotate(-35deg) translateX(10px);
}
.turqouise {
box-shadow: 10px 5px 5px red;
margin-right: 10px;
width: 100px;
background: #1abc9c;
border-bottom: #16a085 3px solid;
border-left: #16a085 1px solid;
border-right: #16a085 1px solid;
border-radius: 6px;
text-align: center;
color: white;
padding: 10px;
float: left;
font-size: 12px;
font-weight: 800;
}
.about {
    grid-area: sidebar;
}

.nav-color {
    background-color: #46c76f;
    grid-area: nav;
    height: 100px;
}

.side {
    margin-left: 100;
    grid-area: sidebar;
}

.ad {
    grid-area: ad;
    color: white;
}
.article {
    color: white;
}

.main-footer {
    grid-area: ad;
}
.wrapper2 {
    color: white;
    background: linear-gradient(rgba(0, 0, 100, .3), rgba(0, 0, 0, .3)), url('https://images.pexels.com/photos/1181271/pexels-photo-1181271.jpeg?cs=srgb&dl=access-blur-business-1181271.jpg&fm=jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: grid;
    height: 100%;
    width: 100%;
    /* grid-gap: 10px; */
    grid-template-columns: repeat(3, 1fr);
    font-family: roboto;
    grid-template-areas:
        /* "header  header" */
        "nav     nav    nav "
        "sidebar .      ad  "
        "content      .         . "
        ".    footer   footer";

}

.wrapper {
    color: white;
    background: linear-gradient(rgba(0, 0, 100, .3), rgba(0, 0, 0, .3)), url('https://images.pexels.com/photos/1181271/pexels-photo-1181271.jpeg?cs=srgb&dl=access-blur-business-1181271.jpg&fm=jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: grid;
    height: 100%;
    width: 100%;
    /* grid-gap: 10px; */
    grid-template-columns: repeat(3, 1fr);
    font-family: roboto;
    grid-template-areas:
        /* "header  header" */
        "nav     nav    nav "
        "sidebar content  . "
        ".      .         . "
        "ad    footer   footer";
}

nav ul {
    display: flex;
    justify-content: space-around;
}
